@import "bootstrap.css";
body {
  font-size: 16px;
  color: #525252;
}
.logo {
  width: 100px;
  max-width: 100%;
}
.logo2 {
  width: 100px;
  max-width: 100%;
  margin: 0.7em;
}
header {
  background: #fff;
  text-align: center;
  width: 100%;
  height: 100px;
  z-index: 100000;
  position: fixed;
}
.Header-button {
  display: none;
}
.navbar {
  height: 100px;
  text-align: center;
  margin: 0;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar>ul {
  margin: 0;
  padding: 0;
}
.navbar>ul>a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar>ul>a>li {
  display: inline-block;
  verical-align: middle;
  padding: 0.7em 1em;
  text-transform: uppercase;
}
.navbar>ul>a>li:hover {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #44a6c6;
  color: #fff !important;
}
.navbar>ul .logoli {
  display: inline-block;
  verical-align: middle;
  padding: 0.7em 1em;
}
.navbar>ul .logoli:hover {
  background: none;
}
.nav-mobile {
  display: none;
  background: #fff;
}
.carousel {
  z-index: -1;
}
.Container {
  padding-top: 100px;
}
.Container-img {
  width: 100%;
}
.Container-content {
  width: 80%;
  margin: 0 auto;
  margin-top: -5em;
  background: #fff;
  padding: 5em;
  padding-top: 3em;
}
.Container-content h1 {
  margin: 0;
  margin-bottom: 1em;
}
.Container-content p {
  line-height: 1.9;
}
.Last {
  margin: 0 auto;
}
.row {
  margin: 1em 15px;
  text-align: center;
}
.row img {
  width: 400;
  max-width: 100%;
}
.row .col-md-6 {
  padding: 1em;
}
.frase {
  background: url("../img/img2.jpg") no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 5em 15em;
}
.Footer {
  background: #44a6c6;
  padding: 1em;
  color: #fff;
  text-align: center;
}
@media (max-width: 1091px) {
  .navbar {
    font-size: 14px;
  }
}
@media (max-width: 968px) {
  .Container-content {
    width: 90%;
    padding: 1em;
    padding-top: 2em;
    margin-top: -3em;
  }
  .frase {
    padding: 5em 1em;
  }
  .navbar {
    display: none;
  }
  .nav-mobile {
    display: block;
    text-align: left;
    position: fixed;
    text-transform: uppercase;
    height: 100%;
    -webkit-box-shadow: 3px 14px 20px;
    box-shadow: 3px 14px 20px;
    width: 230px;
    left: -250px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-mobile li {
    list-style: none;
    padding: 0.5em;
  }
  .nav-mobile li:hover {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #44a6c6;
    color: #fff !important;
  }
  .nav-mobile a:hover {
    color: #fff;
    text-decoration: none;
  }
  .nav-mobile.is-active {
    left: 0;
  }
  .Header-button.is-active {
    display: block;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    font-size: 25px;
    background: none;
    border: none;
  }
}
